<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlogLite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
</head>

<body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/home"><b>BlogLite</b></a>
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <form class="d-flex" action="/searchuser" method="POST">
                    <input class="form-control me-2" name = 'search' type="search" placeholder="Search" >
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            
        
                <li class="nav-item">
                    <a class="nav-link" href="/addpost" method ="GET">AddPost</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile" method="GET">MyProfile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/homepage" method ="GET">GoBack</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/logout" method="GET">LogOut</a>
                </li>
            
            </div>
        </nav>
    </nav>
    <br>
    <div class="container text-center">
        {% if followers|length >0 %}
            <div class="row">
                <div class="col">
                    <h4>Followers List</h4>
                </div>
            </div>
    
        {% for item in followers %} 
    
            <div class="row">
                <div class="col">
                    <a href="/guestprofile/{{ item.id_follower }}" method="GET"><h3><u>{{ item.username_follower }}</u></h3></a>
                    
                </div>

                <div class="col">
                    {% if item.id_follower in mapping.keys() and mapping[item.id_follower]==userid %} 
                        <h4><a href="/removefollower/{{ item.id_follower }}" method="GET"><button class="btn btn-outline-success" type="submit">RemoveFollower</button></a></h4>    
                    
                    {% else %}
                        <h4><a href="/followfollower/{{ item.id_follower }}/{{ item.username_follower }}" method="GET"><button class="btn btn-outline-success" type="submit">Follow</button></a></h4>
                        
                    {% endif %}
                </div>

            </div>
        {% endfor %} 
    
        {% else %}
        <h1>No User Found !!!!</h1>
        {% endif %} 
    </div>

</body>
</html>